@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.body{
  font-family: "Lato";	
}

.inner{
  color: #333;
  width: 1100px;
  margin: auto;
}

.header{
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-inner{
  padding: 15px 0;
}

.fa-bolt{
  float: left;
  font-size: 40px;
}

.Contact-button{
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.Contact-button:hover{
  color: #333;
}

.BurgerMenu{
  display: none;
}

.main{
  text-align: center;
  padding-top: 70px;
}

.title{
  background-color: #f2f2f2;
}

.title-inner{
  padding: 250px 0;
}

.main-title{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.sub-title{
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.section-WhatWeCanDo{
  background-color: #74cfae;
}

.WhatWeCanDo-inner{
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  padding-bottom: 0;
}

.WhatWeCanDo{
  font-size: 24px;
}

.WhatWeCanDo-comment{
  font-size: 20px;
  line-height: 1.5;
  margin-top: 35px;
  width: 750px;
}

.article-OurLatestWork{
  background-color: #f2f2f2;
}

.OurLatestWork-inner{
  padding: 60px 0 70px 0;
}

.OurLatestWork{
  color: #333;
  font-size: 24px;
}

.PhotoGallery{
  margin-top: 40px;
}

.PhotoGallery a{
  display: inline-block;
}

.PG_nav{
  font-size: 0;
}

.PG_nav_item{
  display: inline-block;
  margin-left: 100px;
}

.PG_nav_item:nth-child(n+4){
  margin-top: 80px;
}

.PG_nav_item:nth-child(3n+1){
  margin-left: 0;
}

.PG_nav_pic{
  opacity: 0.7;
  transition: all 0.3s;
}

.PG_nav_pic:hover{
  opacity: 1;
}

.section-Email{
  display: flex;
  font-size: 12px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 90px;
}

.text-Email{
  font-size: 20px;
  line-height: 1.5;
  width: 700px;
}

.Email-button{
  border: 0;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  text-decoration: none;
  transition: all 0.3s;
}

.Email-button:hover{
  color: #333;
}

.section-OurSkills{
  background-color: #4e4e4e;
}

.OurSkills-inner{
  padding: 60px 0 100px 0;
}

.OurSkills{
  color: #fff;
  font-size: 24px;
}

.img-Load{
  margin-top: 70px;
}

.OS_nav_item{
  display: inline-block;
  margin-left: 180px;
}

.OS_nav_item:first-child{
  margin-left: 0;
}

.OS_nav_text{
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}

.nav-Sns{
  background-color: #f2f2f2;
}

.Sns-inner{
  padding: 200px 0;
}

.Sns_nav{
  font-size: 0;
}

.Sns_nav_item{
  display: inline-block;
  font-size: 45px;
  width: 185px;
}

.Sns_nav_pic{
  background-color: #f2f2f2;
  color: #74cfae;
  display: block;
  padding: 20px 0;
  text-decoration: none;
  transition: all 0.8s;
}

.Sns_nav_pic:hover{
  background-color: #fff;
}

.footer{
  background-color: #74cfae;
}

.footer-inner{
  padding: 20px 0 25px 0;
}

.footer_last_comment{
  color: #fff;
  text-align: right;
}

@media screen and (max-width: 1199px) {
  /* （タブレット用） */
/* 　sptab共通 */
  .inner{
    width: 97%;
  }

  .WhatWeCanDo-inner{
    display: block;
    padding-bottom: 25px;
  }

  .WhatWeCanDo{
    margin-top: 20px;
  }

  .WhatWeCanDo-comment{
    width: 90%;
    /* ％表記じゃないと画面崩れしてしまう */
    margin: 35px auto;
    margin-bottom: 0;
  }

  .PG_nav_item{
    display: block;
    margin: 0;
  }

  .PG_nav_item:nth-child(n+4){
    margin-top: 0;
  }

  .PG_nav_item:nth-child(3n+4){
    /* 数字の箇所を変数に帰る */
    margin-top: 80px;
  }

  .section-Email{
    display: block;
    margin-top: 80px;
  }

  .Email-button{
    display: inline-block;
    margin-top: 40px;
    margin-left: 0;
  }

  .text-Email{
    width: 95%;
  }

  .OS_nav_item{
    display: block;
    margin-top: 88px;
    margin-left: 0;
  }

  .OS_nav_item:first-child{
    margin-top: 0;
  }
} /* （タブレット用）終 */

@media screen and (max-width: 767px) {
  /* （スマホ用） */

  .Contact-button{
    display: none;
  }

  .BurgerMenu{
    display: block;
    float: right;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .Burger_line{
    position: absolute;
    left: 10px;
    width: 30px;
    height: 3px;
    background-color: #ddd;
  }
  .Burger_line1{
    top: 11px;
  }
  .Burger_line2{
    top: 19px;
  }
  .Burger_line3{
    top: 27px;
  }

  .main-title{
    color: #74cfae;
    font-size: 80px;
  }

  .title-inner{
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .sub-title{
    color: #c0c0c0;
    font-size: 30px;
    margin-top: 20px;
  }

  .WhatWeCanDo-comment{
    font-size: 20px;
    line-height: 1.5;
    margin-top: 35px;
    width: 480px;
  }

  .Sns-inner{
    padding: 50px 0;
    margin: 0;
    width: 100%;
  }

  .Sns_nav{
    padding: 0 15px;
  }

  .Sns_nav_item{
    width: 100%;
  } 
} /* （スマホ用）終 */